@{
    ViewBag.Title = "Home Page";
    var imagePath = "";
    if (@"images\bryant-park.jpg" != null)
    {
        imagePath = @"\images\bryant-park.jpg";
    }
}

<div class="jumbotron" style="background-color: azure;">
    <h1>Welcome to Alex's website!</h1>
    <p class="lead"></p>
    <img src="@imagePath" width="100%"/>

<div class="row">

</div>